* { margin:0; padding:0; box-sizing:border-box; }
body {
	color: #222;
	font-weight: 400;
	line-height: 1.8em;
	font-family: 'Adobe Caslon Pro', Times, serif;
	font-size: 16px;
	/*letter-spacing: .01em;*/
}
section {
	max-width: 75em;
	margin:0em auto 4em;
}
section#splash {
	background: url(assets/bg-lg-2.jpg) no-repeat center;
	background-size: cover;
	height:100vh;
	max-width:100%;
}
section#tour {
}
section#about-us {
	background-color: #e5e5e5;
	max-width:100%;
}
section#testimonial {
}
header {
	background:#fff;
	position:fixed;
	top:0;
	left:0;
	right:0;
}
nav {
	float:right;
	margin-top: 22px;
}
nav a {
	color: #222;
	font-family: "brandon-grotesque",sans-serif;
	font-style: uppercase;
	font-size: .9em;
	/*letter-spacing: .08em;*/
	margin-right: 40px;
	padding: 10px;
	text-align: center;
	text-decoration:none;
	text-transform: uppercase;
	width: 120px;
}

/* mouse over link */
nav a:hover {
	background-color: #e5e5e5;
	text-decoration: none;
}

/* selected link */
nav a:active {
    color: #e6de5a;
    text-decoration: none;
}
img {}
header img {
	float:left;
	max-width: 75%;
	margin-top: 12px;
	margin-bottom: 12px;
	display: block;
}

p {
	font-weight: 300;
}
strong {
	font-weight:700;	
}

h1 {
	font-size: 10em;
	color: white;
	/*letter-spacing: .02em;*/
}
h1.hero {
	font-weight: 400;
	padding-top: 440px;
	line-height: 1.3em;
	font-size: 80px;
	margin-left: 50px;
}

h2 { 
	padding-bottom: 20px;
	font-family: "brandon-grotesque",sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 1.5em;
	text-transform: uppercase;
	/*letter-spacing: .05em;*/
}
h2.center {
	text-align: center;
	font-weight: 700;
}


h3 {
	font-size: 2em;
	font-family: "brandon-grotesque",sans-serif;
	font-style: normal;
	font-weight: 400;
	margin-bottom:1em;
	/*letter-spacing: .02em;*/
}

h4 {
	color:#ccc;
	font-size: 1em;
	font-family: "brandon-grotesque",sans-serif;
	font-style: normal;
	font-weight: 300;
	text-transform:uppercase;
	/*letter-spacing: .02em;*/
}
.testimonial-text h4 {
	float:left;
}

footer {
	vertical-align: bottom;
	font-family: "brandon-grotesque",sans-serif;
	text-transform: uppercase;
	color: #ccc;
	max-width:75em;
	margin:0 auto;
	/*letter-spacing: .02em;*/
}
.socialIcons {
	width:20%;
	float:left;
}
.socialIcons img {
	display:block;
	float:left;
	width:20%;
	padding-right:1em;
}
footer p {
	width:50%;
	float:right;
	font-size: .8em;
	text-align:right;
}
a.cta {
	background-color:#e5e5e5;
	border-radius:3px;
	color:#222;
	display:block;
	padding:.5em 0;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
	width:10em;
}
a.cta:hover {
	background-color:#222;
	color:#fff;
	
}
a.more {
	color:#222;
	display:block;
	text-transform:uppercase;
	text-decoration:none;
	float:right;
}
a.more:hover {
	color:#ccc;
}
/* Tour */
#tour-carousel {
	width: 60%;
	float:left;
	padding:1em 2em;
}
#tour-carousel img {
	display:block;
	float:left;
	width:25%;
	padding:.25em;
}
#tour-carousel img:first-child {
	width:100%;
}
.tour-text {
	width:40%;
	float:right;
	padding:1em 2em;
}

/* About */
.about-wrap {
	max-width:1200px;
	margin:0 auto;
}
.about-text {
	float:left;
	padding:2em;
	width:40%;
}
.about-img {
	float:right;
	width:40%;
}
.about-img img {
	width:100%;
}
/* Testimonials */
.testimonial-img {
	float:left;
	width:15%;
}
.testimonial-img img {
	width:100%;
}
.testimonial-text {
	float:right;
	width:75%;
}
blockquote {
	font-size:1.5em;
	quotes:"\201C""\201D";
	line-height:1.4em;
}
blockquote:before {
	color:#ccc;
	content:open-quote;
	font-size:3em;
	line-height:0em;
	margin-right:.5em;
	vertical-align:-.3em;
}
blockquote:after {
	color:#ccc;
	content:close-quote;
	font-size:3em;
	line-height:0em;
	vertical-align:-.4em;
}
.clearfix:after {
	visibility: hidden;
	display:block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}
