* { margin:0; padding:0; box-sizing:border-box; }
section+section {
	margin-top:3em;
}
body {
	font-weight: 400;
	letter-spacing: .01em;
	line-height: 1.8em;
	color: #222;
	font-family: "adobe-caslon-pro",serif;
	font-size: 16px;
}
section {
	max-width: 1200px;
}
section#splash {
	background: url(assets/bg-lg-2.jpg) no-repeat center;
	background-size: cover;
	height:100vh;
	max-width:100%;
}
section#tour {
	margin:auto;
}
section#about-us {
	margin:auto;
}
section#testimonial {
	margin:auto;
}
header {
	background:#fff;
	position:fixed;
	top:0;
	left:0;
	right:0;
}
nav {
	float:right;
	margin-top: 22px;
}
nav a {
	margin-right: 40px;
	text-align: center;
	color: #222;
	font-style: uppercase;
	letter-spacing: .08em;
	font-size: 14px;
	text-transform: uppercase;
	padding: 10px;
	width: 120px;
	font-family: "brandon-grotesque",sans-serif;
}

/* mouse over link */
nav a:hover {
	background-color: #e5e5e5;
	text-decoration: none;
}

/* selected link */
nav a:active {
    color: #e6de5a;
    text-decoration: none;
}
img {}
header img {
	float:left;
	max-width: 75%;
	margin-top: 12px;
	margin-bottom: 12px;
	display: block;
}

p {
	margin-top: 100px;
	font-weight: 300;
}


h1 {
	font-size: 150px;
	color: white;
	letter-spacing: .02em;
}

h2 { 
	padding-bottom: 20px;
	font-family: "brandon-grotesque",sans-serif;
	font-style: normal;
	font-weight: 500;
	color: black;
	font-size: 25px;
	text-transform: uppercase;
	letter-spacing: .05em;
}


h3 {
	font-size: 30px;
	color: black;
	font-family: "brandon-grotesque",sans-serif;
	font-style: normal;
	font-weight: 400;	
	letter-spacing: .02em;
}

h4 {
	font-size: 10px;
	color: black;
	font-family: "brandon-grotesque",sans-serif;
	font-style: normal;
	font-weight: 300;	
	letter-spacing: .02em;
}

footer {
	vertical-align: bottom;
	font-size: 10px;
	font-family: "brandon-grotesque",sans-serif;
	text-transform: uppercase;
	color: gray;
	letter-spacing: .02em;
}
#tour-carousel {
	width: 40%;
	float:left;
}
#tour-carousel img {
	display:block;
	float:left;
	width:25%;
	padding:5px;
}
#tour-carousel img:first-child {
	width:100%;
}
.hero {
	font-family: 'Adobe Caslon Pro', Times, serif;
	font-weight: 400;
	margin-top: 440px;
	margin-bottom: 70px;
	line-height: 1.3em;
	font-size: 80px;
	margin-left: 50px;
}


.center {
	text-align: center;
	margin-top: 240px;
	margin-bottom: 50px;
	font-family: "brandon-grotesque",sans-serif;
	font-weight: 700;
	font-size: 24px;
	font-style: normal;
}
.clearfix:after {
	visibility: hidden;
	display:block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}
