* { margin:0; padding:0; box-sizing:border-box; }

body {
	background: url(assets/stripes.png) repeat-x, url(assets/background.jpg) no-repeat #525a6a;
	background-size: auto, cover;
	font-weight: 300;
	font-size: 20px;
	color: white;
	font-family: 'Lato', Helvetica, sans-serif;
}
section {
	margin:230px 0 0 100px;
}
hr {
	margin-top: 28px;
  	width: 28px;
  	border-color: #fd6e6e;
}
p {
	margin-top: -3px;
}
#button {
	margin-top: 20px;
}



